::-moz-selection {
  background: #FEE715;
  color: #101820;
}

::selection {
  background: #FEE715;
  color: #101820;
}

@-webkit-keyframes animateScrollTopButton {
  0% {
    opacity: 0;
    -webkit-transform: rotate(225deg) translate(40px, 40px);
            transform: rotate(225deg) translate(40px, 40px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(225deg) translate(50px, 50px);
            transform: rotate(225deg) translate(50px, 50px);
  }
}

@keyframes animateScrollTopButton {
  0% {
    opacity: 0;
    -webkit-transform: rotate(225deg) translate(40px, 40px);
            transform: rotate(225deg) translate(40px, 40px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(225deg) translate(50px, 50px);
            transform: rotate(225deg) translate(50px, 50px);
  }
}

@-webkit-keyframes boxShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FEE715;
            box-shadow: 0 0 0 0 #FEE715;
  }
  25% {
    -webkit-box-shadow: 0px 0px 3px 3px #FEE715;
            box-shadow: 0px 0px 3px 3px #FEE715;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 #FEE715;
            box-shadow: 0 0 0 0 #FEE715;
  }
  75% {
    -webkit-box-shadow: 0px 0px 3px 3px #FEE715;
            box-shadow: 0px 0px 3px 3px #FEE715;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #FEE715;
            box-shadow: 0 0 0 0 #FEE715;
  }
}

@keyframes boxShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FEE715;
            box-shadow: 0 0 0 0 #FEE715;
  }
  25% {
    -webkit-box-shadow: 0px 0px 3px 3px #FEE715;
            box-shadow: 0px 0px 3px 3px #FEE715;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 #FEE715;
            box-shadow: 0 0 0 0 #FEE715;
  }
  75% {
    -webkit-box-shadow: 0px 0px 3px 3px #FEE715;
            box-shadow: 0px 0px 3px 3px #FEE715;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #FEE715;
            box-shadow: 0 0 0 0 #FEE715;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #101820;
  font-family: 'Montserrat';
}

h1 {
  color: #FEE715;
  font-size: 2.5rem;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  color: #FFFFFF;
  font-size: 1.875rem;
}

@media (min-width: 40rem) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  color: #FFFFFF;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

p {
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 1.4;
}

hr {
  background: -webkit-gradient(linear, left top, right top, from(#101820), color-stop(#FFFFFF), to(#101820));
  background: linear-gradient(to right, #101820, #FFFFFF, #101820);
  height: 1px;
  border: none;
  margin: 3rem 0;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.red-color-and-border {
  display: inline-block;
  color: #FF3108;
}

.red-color-and-border:after {
  content: "";
  display: block;
  width: 45%;
  height: 3px;
  background-color: #FF3108;
}

.yellow-color {
  color: #FEE715;
}

/* scroll top button */
.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 70rem) {
  .arrow {
    right: 5rem;
  }
}

.arrow span {
  display: block;
  width: 2rem;
  height: 2rem;
  border-bottom: 5px solid #FEE715;
  border-right: 5px solid #FEE715;
  border-radius: 3px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: -0.5rem 0;
  -webkit-animation: animateScrollTopButton 2s infinite;
          animation: animateScrollTopButton 2s infinite;
}

/* scroll top button end */
.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.header-image__logo {
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
}

.header-image__hamburger {
  cursor: pointer;
  scale: 1.3;
}

.mobile-navigation {
  background: #101820;
  position: fixed;
  top: 4rem;
  right: -100%;
  height: 100vh;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mobile-navigation ul {
  list-style-type: none;
}

.mobile-navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-navigation ul li a {
  background: #FEE715;
  color: #101820;
  display: block;
  margin: 0.5rem 1rem;
  padding: 1.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3px;
  width: 100%;
}

.mobile-navigation ul li a :active.mobile-navigation {
  right: -100%;
}

.header__navigation {
  display: none;
}

@media (min-width: 40rem) {
  .header__navigation {
    display: block;
  }
  .header__navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__navigation ul li {
    margin: 0 1rem;
    list-style-type: none;
    display: inline-block;
  }
  .header__navigation ul li a {
    font-size: 1.2rem;
    color: #FEE715;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  .header__navigation ul li a:hover {
    /* color: #25b382; */
    text-shadow: 0 0 2px #FEE715, 0 0 2px #FEE715;
  }
  .header-image__hamburger {
    display: none;
  }
}

@media (min-width: 70rem) {
  .landingpage {
    height: 87vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landingpage__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingpage__fullname {
  margin: 0 1rem;
  margin-top: 3rem;
}

.red-color {
  color: #FF3108;
}

.landingpage__jobtitle {
  margin: 1rem;
}

.landingpage__intro-text {
  padding: 0 1rem;
}

@media (min-width: 70rem) {
  .landingpage__intro-text {
    max-width: 90%;
  }
}

.landingpage__button-wrap {
  padding: 0 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 70rem) {
  .landingpage__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landingpage__button--projects {
  background: #FEE715;
  color: #101820;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin: 1rem 0;
  border-radius: 3px;
}

@media (min-width: 70rem) {
  .landingpage__button--projects {
    padding: 1rem 2rem;
  }
  .landingpage__button--projects:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 10rem 0 0 0 #25b382;
            box-shadow: inset 10rem 0 0 0 #25b382;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.landingpage__button--resume {
  background: transparent;
  color: #FEE715;
  border: 1px solid #FEE715;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 3px;
}

@media (min-width: 70rem) {
  .landingpage__button--resume {
    margin: 0;
    margin-left: 2rem;
    padding: 1rem 2rem;
  }
  .landingpage__button--resume:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 10rem 0 0 0 #25b382;
            box-shadow: inset 10rem 0 0 0 #25b382;
    border: 1px solid #25b382;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.landingpage img {
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 70rem) {
  .landingpage img {
    width: 60%;
  }
}

.about {
  padding: 0 1rem;
}

@media (min-width: 70rem) {
  .about {
    margin-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__intro-text--thank {
  font-size: 1.562rem;
  font-weight: bold;
  margin: 1rem 0;
}

.about__links {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 70rem) {
  .about__links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about__my-links {
  margin-bottom: 1rem;
}

.about__links-wrap {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__links-wrap img {
  scale: 1;
}

@media (min-width: 40rem) {
  .about__intro-text--info {
    max-width: 80%;
  }
}

@media (min-width: 70rem) {
  .about__personal-info {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.about__personal-info li,
a {
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

@media (min-width: 40rem) {
  .about__personal-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__personal-info li a {
    margin-bottom: 0;
  }
}

@media (min-width: 70rem) {
  .about__personal-info li,
  a {
    font-size: 1.2rem;
  }
}

.about__personal-info .yellow-color {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  display: block;
}

.about__info {
  font-size: 1.20rem;
  display: inline-block;
}

@media (min-width: 40rem) {
  .about__info {
    margin-top: 0;
  }
}

.about img {
  width: 100%;
  margin-top: 1rem;
}

.quote {
  margin: 7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 70rem) {
  .quote {
    max-width: 70%;
    margin: 14rem auto;
  }
  .quote p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

.quote img {
  width: 5rem;
  margin: 0.5rem 0;
}

@media (min-width: 70rem) {
  .quote img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.quote-svg-reverse {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.skills__title {
  margin-bottom: 2rem;
}

.skills {
  padding: 0 1rem;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2rem 4rem;
}

@media (min-width: 70rem) {
  .skills-grid {
    gap: 4rem;
  }
}

.skills-grid img {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.skills-grid img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (min-width: 40rem) {
  .skills-grid img {
    width: 50%;
  }
}

@media (min-width: 70rem) {
  .skills-grid img {
    width: 20%;
  }
}

.projects {
  margin: 7rem 0;
  padding: 0 1rem;
}

@media (min-width: 70rem) {
  .projects {
    margin: 14rem 0;
  }
}

.projects__list {
  margin-top: 3rem;
}

.projects__list-item {
  color: #FEE715;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  display: block;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

@media (min-width: 70rem) {
  .projects__list-item {
    font-size: 4rem;
  }
}

.projects__list-item__text {
  margin: 2rem auto;
}

@media (min-width: 40rem) {
  .projects__list-item__text {
    text-align: center;
    width: 80%;
  }
}

.projects__list-item__view-project {
  background: #FEE715;
  color: #101820;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  display: block;
  /* animation: boxShadow 2s infinite; */
}

@media (min-width: 40rem) {
  .projects__list-item__view-project {
    padding: 1rem 2rem;
    width: 15rem;
    border-radius: 3px;
  }
  .projects__list-item__view-project:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 15rem 0 0 0 #25b382;
            box-shadow: inset 15rem 0 0 0 #25b382;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.projects__project-info img {
  width: 100%;
}

.projects__view-all {
  background: #FEE715;
  color: #101820;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.3rem 0;
  margin-top: 3rem;
  border-radius: 3px;
}

@media (min-width: 70rem) {
  .projects__view-all {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    width: 15rem;
  }
  .projects__view-all:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 15rem 0 0 0 #25b382;
            box-shadow: inset 15rem 0 0 0 #25b382;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.collaborate {
  padding: 0 1rem;
}

.collaborate__block {
  display: block;
}

.collaborate__contact-info {
  margin: 2rem 0;
}

@media (min-width: 70rem) {
  .collaborate__contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.collaborate__contact-info li {
  color: #FFFFFF;
  list-style-type: none;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.collaborate__contact-info .margin-bottom {
  margin-bottom: 0.5rem;
}

.collaborate__contact-info li a {
  color: #FEE715;
  font-size: 1.2rem;
}

@media (min-width: 70rem) {
  .collaborate__contact-info li a {
    font-size: 1.8rem;
  }
}

.collaborate__form {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 70rem) {
  .collaborate__form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

.collaborate__form label {
  color: #FFFFFF;
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.form-label {
  font-size: 1.25rem;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-bottom: -1.7rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling {
  font-family: 'Montserrat';
  color: #FFFFFF;
  font-size: 1.25rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 2rem;
  outline: none;
}

label > .form-styling:focus + .form-label {
  visibility: visible;
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.collaborate__form .form-styling::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling::-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling::placeholder {
  color: #FFFFFF;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling:focus::-webkit-input-placeholder {
  color: transparent;
}

.collaborate__form .form-styling:focus:-ms-input-placeholder {
  color: transparent;
}

.collaborate__form .form-styling:focus::-ms-input-placeholder {
  color: transparent;
}

.collaborate__form .form-styling:focus::placeholder {
  color: transparent;
}

.collaborate__form .textarea {
  height: 10rem;
  resize: none;
}

.collaborate__form--submit-btn {
  background: #FEE715;
  color: #101820;
  display: block;
  width: 100%;
  padding: 1.3rem;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 70rem) {
  .collaborate__form--submit-btn {
    padding: 1rem 2rem;
  }
  .collaborate__form--submit-btn:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 35rem 0 0 0 #25b382;
            box-shadow: inset 35rem 0 0 0 #25b382;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.footer-hr--above {
  margin: 7rem 0 0 0;
}

.footer-hr--beneath {
  margin: 0;
}

footer {
  /* background: coral; */
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1rem;
}

.footer__links-wrap {
  width: 10rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links-wrap a img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav ul li {
  list-style-type: none;
}

.footer-nav ul li a {
  color: #FEE715;
  display: inline-block;
  margin: 0 0.5rem;
}

.copyright-text {
  color: #FEE715;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.projects-body__title {
  margin: 0 1rem;
}

.projects-body__projects {
  margin: 7rem 1rem;
  display: -ms-grid;
  display: grid;
  /* align-items: center; */
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  gap: 7rem 1rem;
}

.projects-body__projects img {
  width: 100%;
  height: 15rem;
}

.projects-body__projects p {
  margin-top: 1rem;
}

.projects-body__projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-page__button {
  width: 100%;
  background: yellow;
  color: #101820;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  display: block;
  border-radius: 3px;
}

@media (min-width: 70rem) {
  .projects-page__button:hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 28rem 0 0 0 #25b382;
            box-shadow: inset 28rem 0 0 0 #25b382;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

/* hamburger */
.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 40rem) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__burger {
  width: 2rem;
  height: 5px;
  background-color: #FEE715;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 5px;
  background-color: #FEE715;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

/* animation */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

/* NAVIGATION */
.show {
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=main.css.map */