:root {
  --primary-color: #101820;
  --yellow-color: #FEE715;
  --red-color: #FF3108;
  --white-color: #ffffff;

  --styling-width-desktop: 15.625rem;
  --styling-width-mobile: 1rem;

  --default-border-radius: 3px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: 'Montserrat';
}

h1 {
  color: var(--yellow-color);
  font-size: 2.5rem;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 3.75rem;
  }
}


h2 {
  color: var(--white-color);
  font-size: 1.875rem;
}

@media (min-width: 40rem) {
  h2 {
    font-size: 2.5rem;
  }
}


p {
  color: var(--white-color);
  font-size: 1.25rem;
  line-height: 1.4;
}

hr {
  background: linear-gradient(to right, var(--primary-color), var(--white-color), var(--primary-color));
  height: 1px;
  border: none;
  margin: 3rem 0;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.red-color-and-border {
  display: inline-block;
  color: var(--red-color);
}

.red-color-and-border:after {
  content: "";
  display: block;
  width: 45%;
  height: 3px;
  background-color: var(--red-color);
}

.yellow-color {
  color: var(--yellow-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--styling-width-mobile);
}

.header-image__logo {
  color: var(--white-color);
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
}

.header-image__hamburger {
  cursor: pointer;
  scale: 1.3;
}

.header__navigation,
.mobile-navigation {
  display: none;
}

.mobile-navigation__img-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mobile-navigation--show {
  display: block;
  background: var(--primary-color);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-navigation--show ul {
  display: flex;
  flex-direction: column;
}

.mobile-navigation--show ul li {
  list-style-type: none;
}

.mobile-navigation--show ul li a {
  background: var(--yellow-color);
  color: var(--primary-color);
  display: block;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: var(--default-border-radius);
}


@media (min-width: 40rem) {
  .header__navigation {
    display: block;
  }

  .header__navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__navigation ul li {
    margin: 0 1rem;
    list-style-type: none;
  }

  .header__navigation ul li a {
    font-size: 1.2rem;
    color: var(--yellow-color);
    text-decoration: none;
  }

  .header-image__hamburger {
    display: none;
  }
}



.landingpage__text-wrap {
  display: flex;
  flex-direction: column;
}

.landingpage__fullname {
  margin: 0 var(--styling-width-mobile);
  margin-top: 3rem;
}

.red-color {
  color: var(--red-color);
}

.landingpage__jobtitle {
  margin: var(--styling-width-mobile);
}

.landingpage__intro-text {
  padding: 0 var(--styling-width-mobile);
}

.landingpage__button-wrap {
  padding: 0 var(--styling-width-mobile);

  display: flex;
  flex-direction: column;
}

.landingpage__button--projects {
  background: var(--yellow-color);
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin: var(--styling-width-mobile) 0;
  border-radius: 3px;
}

.landingpage__button--resume {
  background: transparent;
  color: var(--yellow-color);
  border: 1px solid var(--yellow-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.landingpage img {
  width: 100%;
  padding: 0 var(--styling-width-mobile);
}


.about {
  padding: 0 var(--styling-width-mobile);
}

.about__intro-text--thank {
  font-size: 1.562rem;
  font-weight: bold;
  margin: 1rem 0;
}

.about__links {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__my-links {
  margin-bottom: 1rem;
}

.about__links-wrap {
  width: 10rem;

  display: flex;
  justify-content: space-between;
}

.about__links-wrap img {
  scale: 1;
}

.about__personal-info {}

.about__personal-info li,
a {
  color: var(--white-color);
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.about__personal-info .yellow-color {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.about img {
  width: 100%;
  margin-top: 1rem;
}

.quote {
  margin: 7rem 1rem;

  display: flex;
  flex-direction: column;
}

.quote img {
  width: 5rem;
  margin: 0.5rem 0;
}

.quote-svg-reverse {
  align-self: flex-end;
  transform: rotate(180deg);
}

.skills__title {
  margin-bottom: 2rem;
}


.skills {
  padding: 0 var(--styling-width-mobile);
}

.skills-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem 4rem;

}

.skills-grid img {
  width: 100%;
  justify-self: center;
}

.projects {
  margin: 7rem 0;
  padding: 0 var(--styling-width-mobile);
}

.projects__list {
  margin-top: 3rem;
}

.projects__list li {
  list-style-type: none;
}

.projects__list-item {
  color: var(--yellow-color);
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  display: block;
  text-align: center;
}

.projects__view-all {
  background: var(--yellow-color);
  color: var(--primary-color);
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.3rem 0;
  margin-top: 3rem;
  border-radius: var(--default-border-radius);
}


.collaborate {
  padding: 0 var(--styling-width-mobile);
}

.collaborate__block {
  display: block;
}

.collaborate__contact-info {
  margin: 2rem 0;
}

.collaborate__contact-info li {
  color: var(--white-color);
  list-style-type: none;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.collaborate__contact-info .margin-bottom {
  margin-bottom: 0.5rem;
}

.collaborate__contact-info li a {
  color: var(--yellow-color);
  font-size: 1.2rem;
}

.collaborate__form {
  margin-top: 7rem;
}

.collaborate__form label {
  color: var(--white-color);
  margin: 3rem 0;

  display: flex;
  flex-direction: column-reverse;
}

.form-label {
  font-size: 1.25rem;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  margin-bottom: -1.7rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling {
  font-family: 'Montserrat';
  color: var(--white-color);
  font-size: 1.25rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white-color);
  height: 2rem;
  outline: none;
}

label>.form-styling:focus+.form-label {
  visibility: visible;
  transform: translateY(-1.5rem);
}

.collaborate__form .form-styling::placeholder {
  color: var(--white-color);
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}

.collaborate__form .form-styling:focus::placeholder {
  color: transparent;
}
.collaborate__form .textarea {
  height: 10rem;
  resize: none;
}

.collaborate__form--submit-btn {
  background: var(--yellow-color);
  color: var(--primary-color);
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}